---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                     <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h1>Guardian Angel</h1>
                        <h2>Engine: Unity</h2>
                        <h2>Git URL Clone: https://SweetPotatoes1@bitbucket.org/SweetPotatoes1/guardianangel.git<h2>
                        <a class="btn zoombtn">
                           <button onclick="myFunction()">Try it</button>
                        </a>
                        <div id="myDIV">
                        Read more here    
                        </div>    
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
    <script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>        
</body>
</html>
