---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                     <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h1>Guardian Angel</h1>
                        <h2>Engine: Unity</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jNakclXGOMk" frameborder="0"> </iframe>
                        <h3>Git URL Clone: https://SweetPotatoes1@bitbucket.org/SweetPotatoes1/guardianangel.git</h3>
                        <button onclick="ShowGaReadMore()">Read more</button>
                        <div class="myDIV" id="GA">
                        Guardian Angel is a game where you play as a ghost. The core mechanic of the game is possessing enemies by colliding with them and then using their own abilities against other enemies.
                        </div> 
                        </li>
                        <br><br>   
                        <li class ="wow fadeInLeft" data-wow-duration="1.5s">
                            <h1>Auto Chess</h1>
                            <h2>Engine: Unreal Engine</h2>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZYhB9fp-UFg" frameborder="0"> </iframe>
                            <h3>Git URL Clone: https://SweetPotatoes1@bitbucket.org/SweetPotatoes1/autochess.git </h3>
                            <button onclick ="ShowAutoChessReadMore()">Read more</button>
                            <div class="myDIV" id="AutoChess">
                            Auto Chess is a prototype game inspired from League of Legend's Teamfight Tactics game mode.
                            </div>
                        </li>
                        <br><br>
                        <li class ="wow fadeInLeft" data-wow-duration="1.5s">
                            <h1>Rabid Air Sprinters</h1>
                            <h2>Engine: Unity </h2>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/P63XQ49JTSc" frameborder="0"> </iframe>
                            <h3>Git URL Clone: https://SweetPotatoes1@bitbucket.org/SweetPotatoes1/rabidairsprinters.git </h3>
                            <button onclick = "ShowRabidMore()">Read more </button>
                            <div class="myDIV" id = "Rabid">
                            Rabid air sprinters was a 2D fighting game. This was a group project and my duties included: Animations, Sound effects, and a small contributions to the game's logic.
                            </div>
                         </li>
                         <br><br>
                         <li class ="wow fadeInLeft" data-wow-duration="1.5s">
                            <h1>2D Space Shooter</h1>
                            <h2>Engine: Unity </h2>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/vBYolpNctgo" frameborder="0"> </iframe>
                            <button onclick = "ShowSpaceMore()">Read more </button>
                            <div class="myDIV" id = "Space">
                            A 2D space shooter from my first year of uni. I was not using source control at that time and unfortunantely lost the files to it. The video above is the only gameplay I have available of it :)
                            </div>
                         </li>
                         <br><br>
                         <li class ="wow fadeInLeft" data-wow-duration="1.5s">
                            <h1>Little Thief</h1>
                            <h2>Engine: Unity </h2>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/3bYDxgUX_o0" frameborder="0"> </iframe>
                            <h3>Git URL Clone: https://SweetPotatoes1@bitbucket.org/SweetPotatoes1/littlethief.git</h3>
                            <button onclick = "ShowThiefMore()">Read more </button>
                            <div class="myDIV" id = "Thief">
                            A small platforming game where I worked together with an artist and a designer. The programming was done entirely by me.
                            </div>
                         </li>
                         <br><br>
                         <li class ="wow fadeInLeft" data-wow-duration="1.5s">
                            <h1>Run Length Encoding Algorithm</h1>
                            <h2>Language: C++ </h2>
                            <img src = ""https://sweetpotatoes1.github.io/Moon/assets/RunLength.png" alt = "RunLength">
                            <h3>Git URL Clone: https://SweetPotatoes1@bitbucket.org/SweetPotatoes1/runlengthencoding.git</h3>
                            <button onclick = "ShowRunLengthMore()">Read more </button>
                            <div class="myDIV" id = "RunLength">
                            A C++ program that takes a file and run length encodes it. It returns the compression rate and the compressed file. It also decompresses compressed files
                            </div>
                         </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
    <script>
function ShowGaReadMore() {
  var x = document.getElementById("GA");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
  function ShowAutoChessReadMore() {
  var x = document.getElementById("AutoChess");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
 }
  function ShowRunLengthMore() {
  var x = document.getElementById("RunLength");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
 }
  function ShowThiefMore() {
  var x = document.getElementById("Thief");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function ShowRabidMore() {
  var x = document.getElementById("Rabid");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function ShowSpaceMore() {
  var x = document.getElementById("Space");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>  
<script>
var x = document.getElementsByClassName("myDIV");
var i;
for (i = 0; i < x.length; i++) {
  x[i].style.display = "none"
}
</script>
</body>
</html>
